<!-- partial is just as a component that is reusable -->

<nav>
    <div class="site-title">
        <a href="/">Sudeep Shrestha</a>
        <p>This is my own site.</p>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blog/create">New Blog</a>
        </li>
    </ul>
</nav>