<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <h1>This is my home page | <%=title %></h1>
    <%- include('./partial/nav.ejs') %>

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi explicabo earum nam quidem praesentium adipisci quae fugiat quam possimus rem doloribus quibusdam, amet unde neque vel? Commodi cupiditate tenetur, repellat reprehenderit nesciunt, possimus voluptatem inventore facere deleniti ratione numquam blanditiis aut vel illo ut expedita perferendis quam, cum est!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi explicabo earum nam quidem praesentium adipisci quae fugiat quam possimus rem doloribus quibusdam, amet unde neque vel? Commodi cupiditate tenetur, repellat reprehenderit nesciunt, possimus voluptatem inventore facere deleniti ratione numquam blanditiis aut vel illo ut expedita perferendis quam, cum est!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi explicabo earum nam quidem praesentium adipisci quae fugiat quam possimus rem doloribus quibusdam, amet unde neque vel? Commodi cupiditate tenetur, repellat reprehenderit nesciunt, possimus voluptatem inventore facere deleniti ratione numquam blanditiis aut vel illo ut expedita perferendis quam, cum est!</p>
    </div>
</body>
<%- include('./partial/footer.ejs') %>
</html>